<a href="https://colab.research.google.com/github/Auvarmf/BasicMachineLearning/blob/main/PERTEMUAN1_AuvarMahsaFahlevi_2117051027.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 1 
* Pemrograman di Python

## Variabel 
* Deklarasi kedalam variabel

In [ ]:
# input "8" kedalam variabel A
A = 8
print(A)
print("Output: ", A)

8
Output:  8

In [ ]:
A = "8"
print(A)
print(type(A))
B = int(A)
print(B)
print(type(B))

8
<class 'str'>
8
<class 'int'>

In [ ]:
# input nilai sebagai list
nilai = [70, 80, 90, 100, 85]
print(nilai)
# nilai

[70, 80, 90, 100, 85]

In [ ]:
data = [80, "A", "Joni"]
print(data)

[80, 'A', 'Joni']

## Conditional
* Mengeksekusi nilai berdasarkan kondisi

In [ ]:
if 7 == A:
    print("Nilai 7 sama dengan nilai A yang mana adalah", A)
else:
    print("Nilai 7 tidak sama dengan nilai A yang mana adalah", A)

Nilai 7 tidak sama dengan nilai A yang mana adalah 8

In [ ]:
# mengecek nilai didalam list
if 70 in nilai:
    print("ada nilai 70 didalam list")
else:
    print("tidak ada didalam list")

ada nilai 70 didalam list

## Looping
* Mengeksekusi nilai berdasarkan perulangan

In [ ]:
# mencetak perkalian angka 2 dengan angka 0 sampai 10
for i in range(10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

# Function

## User Define Function
* Mendeklarasikan fungsi yang dibuat

In [ ]:
# fungsi yang mencetak suatu nilai
def cetak_a():
    print("A")

# panggil fungsi cetak_a
cetak_a()

A

In [ ]:
# fungsi yang mengembalikkan suatu nilai dari suatu masukkan
def cetak_pangkat_dua(x):
    x = x**2
    return x

# panggil fungsi cetak_pangkat_dua dengan inputan tertentu
cetak_pangkat_dua(4)
print(cetak_pangkat_dua(4))

16

## Built-in Function
* Memanggil fungsi bawaan dari python

In [ ]:
nilai = [70, 80, 90, 100, 95]
# memanggil fungsi len untuk mencetak jumlah item dari list
print(len(nilai))

# memanggil fungsi max untuk mencetak item terbesar dari list
print(max(nilai))

# untuk tahu fungsi bawaan dari library yang ada, perlu baca dokumentasinya

5
100

## Library
* sekumpulan kode yang memiliki fungsi-fungsi tertentu dan dapat dipanggil kedalam program lain

In [ ]:
# deklarasi library dengan fungsi yang ada didalamnnya
import numpy as np

# inisiasi vector dan nilai skalar
list1 = [1, 2, 3, 4, 5]
vtr1 = np.array(list1)
scalar_value = 10

# operasi perkalian vector-scalar
vtr_scalar = vtr1 * scalar_value
print(vtr_scalar)

[10 20 30 40 50]

In [ ]:
# deklarasi library dengan menggunakan nama alias
import pandas as pd

# membuat variabel dataframe (df) dengan isi list nilai dan nama kolom "nilai"
df = pd.DataFrame(nilai, columns=["nilai"])
df # dataframe

   nilai
0     70
1     80
2     90
3    100
4     95

# Tugas Responsi 1 - Machine Learning

In [ ]:
# nomer 1
# perkalian dua vector
vtr1 = [1, 2, 3, 4, 5]
vtr2 = [2, 4, 6, 8, 10]

# menggunakan fungsi zip() untuk menggabungkan dua vektor dan melakukan perkalian elemen demi elemen menggunakan perintah for dan operator *
hasil = [a * b for a, b in zip(vtr1, vtr2)]

print(hasil)

[2, 8, 18, 32, 50]

In [3]:
# nomer 2
# dataframe mahasiswa
import pandas as pd

# data mahasiswa
mahasiswa = ['Andi', 'Budi', 'Caca', 'Didi']

# nilai mahasiswa
nilai = [7, 6, 10, 8]

# keterangan nilai dengan menggunakan conditional
ket = ['Lulus' if x >= 7 else 'Belum Lulus' for x in nilai]

# dataframe mahasiswa
data = {'mahasiswa': mahasiswa, 'nilai': nilai, 'keterangan': ket}
df = pd.DataFrame(data)
df

  mahasiswa  nilai   keterangan
0      Andi      7        Lulus
1      Budi      6  Belum Lulus
2      Caca     10        Lulus
3      Didi      8        Lulus

In [ ]:
# nomor 3
# menambahkan presentasi lulus dari data sebelumnnya
import pandas as pd

# fungsi data mahasiswa
def Mahasiswa():
    # data mahasiswa
    mahasiswa = ['Andi', 'Budi', 'Caca', 'Didi']

    # nilai mahasiswa
    nilai = [7, 6, 10, 8]

    # keterangan nilai dengan menggunakan conditional
    ket = ['Lulus' if x >= 7 else 'Belum Lulus' for x in nilai]

    # menghitung jumlah mahasiswa lulus dengan count() dari library list
    jml_lulus = ket.count('Lulus')

    # presentase lulus mahasiswa
    pres_lulus = jml_lulus / len(ket) * 100
    print(pres_lulus, '%')

Mahasiswa()

75.0 %